src/main/mule/delete-note-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-note-by-idFlow" doc:id="53501c7b-ab1f-47d3-9cbc-3142d5c681d6" >
		<flow-ref doc:name="SelectNotByid" doc:id="359ca1f5-2d02-4677-85a6-8fddd2a65bb4" name="selectNoteById"/>
		<db:delete doc:name="Delete" doc:id="dbcd9de6-47ca-4bea-9e48-363bbc92edd4" config-ref="Database_Config" >
			<db:sql ><![CDATA[delete from Notes where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: vars.noteId]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="4e2e3085-52dc-465f-a85d-4405498d99eb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Notes Deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
