src/main/mule/note-record-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <http:listener-config name="note-record-management-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="note-record-management-api-config" api="note-record-management-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="04928c17-5f0f-4958-b360-7fd2d79825d9" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="b33" />
	</db:config>
	<xml-module:config name="XML_Config" doc:name="XML Config" doc:id="b8ab34b4-09f9-4b49-a11e-82ae5413bce9" />
	<flow name="note-record-management-api-main">
        <http:listener config-ref="note-record-management-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="note-record-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="note-record-management-api-console">
        <http:listener config-ref="note-record-management-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="note-record-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\note\(noteId):application\json:note-record-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  title: payload.title,
  content: payload.content,
  updateDate: now ()
}]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.noteId]]></ee:set-variable>
				<ee:set-variable variableName="vas" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.noteId]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<db:update doc:name="Update" doc:id="cd05dbc8-c2d7-4380-8903-378847baf0d9" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE Notes SET title=:title,content=:content,updateDate=:updateDate where id=:id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/json
---
{
	"id": vars.id,
	"title": payload.title,
	"content": payload.content,
	"updateDate": payload.updateDate
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="dd80bf2e-5d27-4e37-86ee-42e75cb2e324" />
		<ee:transform doc:name="Transform Message" doc:id="d4077271-59cb-4018-8ecc-76316418bf2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Notes updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\note\(noteId):note-record-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="noteId">attributes.uriParams.'noteId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:delete doc:name="Delete" doc:id="01532c1c-f603-437e-a23c-f934900c0beb" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from Notes where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: attributes.uriParams.noteId]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Notes Deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-payload value='#["Notes has been deleted"]' doc:name="Set Payload" doc:id="adfd48cc-bf79-49f4-b935-609d014f208a" />
    </flow>
    <flow name="get:\note:note-record-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<db:select doc:name="Select All Records" doc:id="85638efc-d191-4dd1-bb86-a475c3c45b7e" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from notes]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="978c6761-5d85-4f88-86e3-dee3211d9948" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="get:\note\(noteId):note-record-management-api-config">
        <ee:transform doc:name="Transform Message" doc:id="d11296cc-ee75-4ca9-8039-0201e29702d4">
            <ee:variables>
                <ee:set-variable variableName="noteId"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<db:select doc:name="Select" doc:id="fb330a85-6fa5-416c-a578-8fcfb7b8bfaf" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from notes where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: attributes.uriParams.noteId]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\note:application\json:note-record-management-api-config">
<!-- 		<xml-module:validate-schema doc:name="Validate schema" doc:id="4195142f-446c-457b-bc56-d6c6c1bfbc2c" config-ref="XML_Config" schemas="api\Examples\noteinsertschema.json"/>
 -->		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<db:insert doc:name="Insert" doc:id="3da6653e-ac65-4db5-a9d8-02c4ea492bc3" config-ref="Database_Config">
			<db:sql><![CDATA[insert into Notes( id,title,content,createDate,updateDate) values(:id,:title,:content,:createDate,:updateDate)]]></db:sql>
			<db:input-parameters><![CDATA[#[output application/json
---
{           "id": payload.id,
            "title": payload.title,
            "content": payload.content,
            "createDate": now (),
            "updateDate": now ()
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="1a7a11fc-3019-41f6-af0a-4969bbaea6dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Notes created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
