src/main/mule/note-record-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <http:listener-config name="note-record-management-api-httpListenerConfig">
        <http:listener-connection host="${secure::http.host}" port="${secure::http.port}" />
    </http:listener-config>
    <apikit:config name="note-record-management-api-config" api="note-record-management-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="note-record-management-api-main">
        <http:listener config-ref="note-record-management-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="note-record-management-api-config" />
    </flow>
    <flow name="put:\note\(noteId):application\json:note-record-management-api-config">
        <!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="9bcacd50-917c-48e9-a2a1-b599c7bf08bf">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{ 
	id: payload.id,
    title: payload.title,
    content: payload.content
  
}&#93;&#93;></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="noteId" ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
attributes.uriParams.noteId&#93;&#93;></ee:set-variable>
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-variable>
			</ee:variables>
        </ee:transform> [STUDIO] -->
		<flow-ref doc:name="put-note-by-idFlow" doc:id="7cd0f436-e9f9-4e1e-83e3-1e464895fc39" name="put-note-by-idFlow"/>
    </flow>
    <flow name="delete:\note\(noteId):note-record-management-api-config" doc:id="d097d089-17a1-4496-bff2-34d272e2ce27">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="noteId">attributes.uriParams.'noteId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-note-by-idFlow" doc:id="1393675c-0482-46bf-a465-f107fbf43221" name="delete-note-by-idFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="842315aa-3f96-4bba-9193-18aac17547a3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Notes Deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\note:note-record-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<db:select doc:name="Select All Records" doc:id="85638efc-d191-4dd1-bb86-a475c3c45b7e" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Notes]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="978c6761-5d85-4f88-86e3-dee3211d9948" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="get:\note\(noteId):note-record-management-api-config">
        <ee:transform doc:name="Transform Message" doc:id="d11296cc-ee75-4ca9-8039-0201e29702d4">
            <ee:variables>
                <ee:set-variable variableName="noteId"><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.noteId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="getByIdFlow" doc:id="3b1d075e-6725-46ab-ba2c-62dc8ba52d2c" name="getByIdFlow"/>
    </flow>
    <flow name="post:\note:application\json:note-record-management-api-config">
<!-- 		<xml-module:validate-schema doc:name="Validate schema" doc:id="4195142f-446c-457b-bc56-d6c6c1bfbc2c" config-ref="XML_Config" schemas="api\Examples\noteinsertschema.json"/>
 -->		<ee:transform doc:name="Transform Message" doc:id="45ec2e24-15d3-45b3-bc7c-a5dea7e0d42f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
			<ee:variables >
			</ee:variables>
        </ee:transform>
		<db:insert doc:name="Insert" doc:id="3da6653e-ac65-4db5-a9d8-02c4ea492bc3" config-ref="Database_Config">
			<db:sql><![CDATA[insert into Notes(title,content,createDate,updateDate) values(:title,:content,:createDate,:updateDate)]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
output application/json
---
{           
            "title": payload.title,
	        "content": payload.content,
            "createDate": now (),
            "updateDate": now ()
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="1a7a11fc-3019-41f6-af0a-4969bbaea6dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Notes created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
